<%- include("header") %>

<div>
    <h1 style="color:#A683E3;font-family:monospace;">This website was created by me as a project to demonstrate the use of NodeJs with it's frameworks(ExpressJs, EJS)</h1>
</div>

<%- include("footer") %> 